<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chuck Norris Jokes App</title>
</head>
<body>

	<div>

		<h1>Chuck Norris Joke!!!</h1>
		<p th:text="${joke}">Insert joke here!!!</p>

	</div>

</body>
</html>